<div id="mySidenav" class="sidenav">
  <div id="navLogo">
    <h1 id="navName">LENSTALK</h1>
    <p>ADMIN ACCOUNT</p>
  </div>
    <a class="options" routerLink="/orderRecords">Order Records</a>
    <a class="options" routerLink="/productCategory">Product Listing</a>
    <!-- <a class="options" routerLink="/blogPage">Blog Page</a> -->
    <a class="options"routerLink="/feedback">Manage Feedback</a>
    <br>
    <p class="options"><u>Change Password</u></p>
    <br>
    <button class="btn btn-primary logOutBtn">Log Out</button>
</div>
  